.center-container {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 1.5em;
    width: 30%;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.user-data {
    padding: 30px;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid #ced4da;
    background: white;
    padding: 10px 20px
}

.profile-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.user-data-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile-image button {
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
}

.user-image {
    max-width: 200px;
    max-height: 140px;
    border-radius: 20px;
    position: relative;
}

.center-container button {
    display: block;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
